.wrapper {
    position: relative;
    padding-top: 56%;
}

.intro {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}

.info {
    position: absolute;
    bottom: 36%;
    left: 4%;
    width: 36%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
}

.title {
    margin-bottom: 1.5rem;
}

.desc {
    margin-top: 1rem;
    font-size: 1.8rem;
    font-weight: 400;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 45%);
    color: var(--white);
}

.info-btn {
    margin-top: 2rem;
}

.banner-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 35%;
    right: 8%;
    z-index: 1;
    padding: 6px;
    color: #ddd;
    border-radius: 50%;
    border: 1px solid var(--white);
    background-color: transparent;
    transform: scale(1);
    cursor: pointer;
    transition: 0.3s ease;

    &:hover {
        transform: scale(1.2);
        color: var(--white);
        background-color: rgba(211, 211, 211, 0.18);
    }
}

.fade {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(15, 15, 15, 0.6) 40%,
        rgb(17, 17, 17),
        rgb(17, 17, 17)
    );
}
