.wrapper {
    position: fixed;
    width: 100%;
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    background-color: transparent;

    &.scroll {
        background-color: #141414;
    }
}

.inner {
    width: 100%;
    height: 100%;
    padding: 0 4%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    margin-right: 25px;
}

// Action
.action {
    position: absolute;
    top: 0;
    height: 100%;
    right: 4%;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.action-btn {
    display: flex;
    background-color: transparent;
    color: var(--white);
}
